/* header */
nav span :hover {
  color: #fcab2b;
}

nav button :hover {
  color: #fcab2b;
}

.span {
  margin-left: 30px;
}
.navbar {
  max-width: 1200px;
  margin: 0px auto;
}

.ContainerDiv {
  font-family: 'Kodchasan';
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.ContainerDiv::after {
  display: block;
  content: '';
  clear: both;
}

.homeContainer {
  position: absolute;
  float: left;
  margin-top: 100px;
}

.homeContainer::after {
  display: block;
  content: '';
  clear: both;
}

.homeContainer h1 {
  color: #fcab2b;
  margin: 0px;
  font-size: 6rem;
}

.homeContainer p {
  color: #000;
  margin: 0;
  font-size: 1.5rem;
}

.hireButton {
  margin-right: 30px;
  font-family: 'Kodchasan';
  margin-top: 15px;
  background-color: #fcab2b;
  border: 0px;
  padding: 15px 30px;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.imageConatainer {
  float: right;
}

.imageConatainer img {
  max-height: 650px;
}

.devContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fontHead {
  font-size: 6rem;
  margin: 0px;
  text-align: center;
}

.box {
  height: 100%;
  background-color: #fcab2b;
  padding: 30px;

  font-weight: bold;
  border-radius: 10px;
}
.box:hover {
  background-color: #43e4c7;
  cursor: pointer;
  color: #fff;
}
.desc {
  height: 200px;
  vertical-align: middle;
}
.desc p {
  margin: 61px;
}
button {
  background-color: #fcab2b;
  font-weight: 300px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
}
button:hover {
  background-color: #43e4c7;
  color: #fff;
}
li:hover {
  color: #fcab2b;
}
.is-active {
  color: #fcab2b;
}
/* media Queries */
@media screen and (max-width: 1150px) {
  .imageConatainer img {
    max-height: 550px;
  }

  .homeContainer h1 {
    color: #fcab2b;
    margin: 0px;
    font-size: 4rem;
  }

  .homeContainer p {
    color: #000;
    margin: 0;
    font-size: 1.2rem;
  }

  .hireButton {
    margin-right: 30;
    font-family: 'Kodchasan';
    margin-top: 15px;
    background-color: #fcab2b;
    border: 0px;
    padding: 10px 15px;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width: 946px) {
  .imageConatainer img {
    max-height: 400px;
  }

  .homeContainer h1 {
    color: #fcab2b;
    margin: 0px;
    font-size: 2.5rem;
  }

  .homeContainer p {
    color: #000;
    margin: 0;
    font-size: 0.8rem;
  }

  .hireButton {
    margin-right: 30;
    font-family: 'Kodchasan';
    margin-top: 15px;
    background-color: #fcab2b;
    border: 0px;
    padding: 10px 15px;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width: 852px) {
  nav span {
    font-size: 0.7rem;
  }

  nav button {
    font-size: 0.7rem;
  }

  .devContainer {
    margin-top: 20px;
    display: block;
    justify-content: center;
    text-align: center;
  }

  .box {
    margin: 0px auto;
    margin-bottom: 20px;
    width: 85%;
  }
}

@media screen and (max-width: 680px) {
  .fontHead {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

  .ContainerDiv {
    font-family: 'Kodchasan';
    position: relative;
    max-width: 600px;
    text-align: center;
    height: 100%;
  }

  .homeContainer {
    position: absolute;
    bottom: -160px;
    background-color: rgba(255, 255, 255, 0.896);
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .imageConatainer {
    float: none;
  }
}

@media screen and (max-width: 727px) {
  .header {
    height: 100px;
  }
}

@media screen and (max-width: 568px) {
  .span {
    margin: 3px;
  }
}
